@model IEnumerable<WebNotes.Models.Note>

<button class="addButton">
    <a class="text-white" asp-controller="MainMenu" asp-action="Create">Добавить</a>
</button>

<div class="blockWithNotes">
    <div style="display:inline-table;">


        @if (@Model.Count() > 0)
        {
            foreach(var note in Model)
            {
                if (note.Title.Length >= 40)
                {
                    note.Title = note.Title.Substring(0, 37) + "...";
                }
                if (note.Description.Length >= 50)
                {
                    note.Description = note.Description.Substring(0, 47) + "...";
                }

                <div class="notes">
                    <h2>@note.Title</h2>

                    <label>@note.Description</label>

                    <label class="time">@note.CreatedDate</label>

                    <button class="infoButton">
                        <a class="infoButtonText" style="color:orange;" asp-controller="MainMenu"  asp-route-Id="@note.Id" asp-action="Info">Подробнее</a>
                    </button>
                    
                </div>   
            }  
        }
            
    </div>
</div>